/*Grijs #899CA0*/
/*donkergroen #1C2B32*/

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/



/*////////////////////////
    1. Global Styles
////////////////////////*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*////////////////////////
    2. Typography
////////////////////////*/
body {
    font-family: 'Poppins', sans-serif;
}


/*////////////////////////
    3. Areas
////////////////////////*/



/*///////////// 3.1 Header /////////////*/

input, button {
    margin: 0;
}

header {
    background-image: url("/assets/images/mountains.jpg");
    background-size: cover;
    background-position: 25% 75%;
}


.header-container {
    max-width: 1000px;
    text-align: center;
    margin: 0px auto 100px auto;
    padding-top: 80px;
    height: 100vh;
}

.header-container h1 {
    font-size: 130px;
    color: #1C2B32;
}

.header-container p {
    font-size: 18px;
    color: #1C2B32;
}

.header-container form {
    padding-top: 30px;
}

.header-container form input {
    font-size: 20px;
    color: #1C2B32;
    width: 350px;
    padding: 25px 30px;
    border-color: #1C2B32;
    border: 2px solid #1C2B32;
    border-radius: 50px 0 0 50px;
    margin-right: -10px;
    background-color: transparent;
}

.header-container form input::placeholder {
    color: #1C2B32;
    font-weight: 100;
}

.header-container button {
    font-size: 20px;
    font-weight: 500;
    width: 270px;
    border: none;
    background-color: #1C2B32;
    color: #fff;
    padding: 25px 0;
    border-color: #1C2B32;
    border: 2px solid #1C2B32;
    border-radius: 0 50px 50px 0;
}



/*///////////// 3.2 Testimonial /////////////*/



/*///////////// 3.3 Support /////////////*/



/*///////////// 3.4 Faq /////////////*/



/*///////////// 3.5 Footer /////////////*/